In [1]:
a = 15
b =25
print(a+b)

40

In [2]:
#for user input
a = int(input("Enter a number"))
b =int(input("enter a string"))
print(a+b)

Enter a number21
enter a string32
53

In [3]:
#concetination with number and string
a = int(input("Enter a number"))
b = input("Enter a string")
print(a+b)

Enter a number123
Enter a stringsiddu

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
#operators
a = 20
b =30
print(a+b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

50
600
0.6666666666666666
20
0

In [6]:
#Sequence OR  Group
 
    l = [1,2,3,4,5]
    t = (1,2,3,4,5)
    s = {1,2,3,4,5}
    d = {'id':101 'name':"Rajan"}
    print(type(i))
    print(type(t))
    print(type(s))
    print(type(d))

IndentationError: unexpected indent (307090781.py, line 3)

In [9]:
l = [1,2,3,4,5]
t = (1,2,3,4,5)
s = {1,2,3,4,5}
d = {'id':101,'name':"Rajan"}
print(type(l))
print(type(t))
print(type(s))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [1]:
l=[1,2,3,4,5]
i=1
while i<=3:
    print(i)
    i=i+1

1
2
3

In [7]:
l=[1,2,3,4]

for x in l:
    print(x)

1
2
3
4

In [9]:
#pass
l=[1,2,3,4]
for  x in l:
    if(x==3):
        pass
print(x)

4

In [14]:
#continue
l=["mark","jucker","berg"]
for x in l:
    if(x==1):
        continue
print(x)

berg

In [9]:
#break
l=[20,45,765,5676,4567654,5678765,653,567]

for  x in l:
    if x == 765:
        break
    print(x)

20
45

In [5]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)
    if fruit == "banana":
        break

apple
banana

In [1]:
#printing in Ascending order
l=[12,3,4,5,6,7,88]
l.sort()
print(l)

[3, 4, 5, 6, 7, 12, 88]

In [2]:
#append to add element in end of list
l=[12,3,4,5,6,7,88]
l.append(96)
print(l)

[12, 3, 4, 5, 6, 7, 88, 96]

In [3]:
#Insert is based on specifying index
l=[12,3,4,5,6,7,88]
l.insert(3,56)
print(l)

[12, 3, 4, 56, 5, 6, 7, 88]

In [4]:
#pop is going to remove element in end of list
l=[12,3,4,5,6,7,88]
l.pop()
print(l)

[12, 3, 4, 5, 6, 7]

In [5]:
#Reverse is going to print list in reverse
l=[12,3,4,5,6,7,88]
l.reverse()
print(l)

[88, 7, 6, 5, 4, 3, 12]

In [7]:
#Index is going to return the specified value of user
l=[12,3,4,4,5,6,7]
print(l.index(4))
print(l)

2
[12, 3, 4, 4, 5, 6, 7]

In [16]:
#extend combination two list
l=[1,2,3,4,4,5,5,6]
l2=[1,4,5,6,432]
l.extend(l2)
print(l)

[1, 2, 3, 4, 4, 5, 5, 6, 1, 4, 5, 6, 432]

In [12]:
#return occurence of the element
enames=["siddu","amar","presher", "siddu","siddu"]
print(enames.count("siddu"))

3

In [14]:
#clear is going to clear the elements but not the list
enames=["siddu","amar","presher", "siddu","siddu"]
enames.clear()
print(enames)

[]

In [15]:
#remove is going to delete only user defined element in list
enames=["siddu","amar","presher", "siddu","siddu"]
enames.remove("siddu")
print(enames)

['amar', 'presher', 'siddu', 'siddu']