In [1]:
#Tuple
t=()
print(type(t))

<class 'tuple'>

In [2]:
#Tuple
t=(1,2,3,4,5,56)
print(t)

(1, 2, 3, 4, 5, 56)

In [3]:
#duplicates allowed
t=(1,2,3,3,4,4,4,4)
print(t)

(1, 2, 3, 3, 4, 4, 4, 4)

In [4]:
#reading
t=(12,3,3,4,4)
print(t[0])

12

In [5]:
#update not possible
t=(1,4,4,5,5,6,3,3)
t[0]=23
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
#delete not possible
t=(1,3,4,5,4,3,2)
t.pop()
print(t)

AttributeError: 'tuple' object has no attribute 'pop'

In [7]:
t=(1,2,3,3,3,3,3)
t.remove(4)
print(t)

AttributeError: 'tuple' object has no attribute 'remove'

In [9]:
#Duplicates are allowed and heterogeneous
t=("naresh",True,0,2.5)
print(t)

('naresh', True, 0, 2.5)

In [10]:
t=(1,2,3,3,3,3,3)
t.clear()
print(t)

AttributeError: 'tuple' object has no attribute 'clear'